# Data Preprocessing Template

## Importing the libraries

In [33]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

## Importing the dataset

In [34]:
dataset = pd.read_excel("Data.xlsx")
dataset.head(3)

,KOD,BARKOD,MAMUL,K.İÇİ,GR,LİSTE,FATURA ALTI %,DÖNEM SONU %,KDV,NET MALİYET,Ö.RAF,KATEGORİ,AY
0,69768997,8690637840746,CALVE ACILI KETÇAP 8X430G,8,430.0,30.20,12.0,5,0.01,25.499672,31.874590,FOOD,EKİM
1,69758147,8690637840821,CALVE KETÇAP 8X430G,8,400.0,30.20,12.0,5,0.01,25.499672,31.874590,FOOD,EKİM
2,69768999,8690637905896,CALVE ACILI KETÇAP 12*610GR,12,610.0,39.85,13.0,5,0.01,33.265385,41.581732,FOOD,EKİM

In [35]:
# X = [dataset["K.İÇİ"],dataset["LİSTE"],dataset["DÖNEM SONU %"],dataset["KDV"],dataset["KATEGORİ"],dataset["AY"]]
X = dataset[["K.İÇİ","LİSTE","DÖNEM SONU %","KDV","KATEGORİ","AY"]].values
y = dataset["NET MALİYET"].values

In [36]:
# encodinng categorical data
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[("encoder",OneHotEncoder(), [4,5])],remainder="passthrough") 
X = ct.fit_transform(X)

In [40]:
dataset.describe()

,KOD,BARKOD,K.İÇİ,GR,LİSTE,FATURA ALTI %,DÖNEM SONU %,KDV,NET MALİYET,Ö.RAF
count,3.540000e+02,3.540000e+02,354.000000,354.000000,354.000000,354.000000,354.0,354.000000,354.000000,354.000000
mean,6.222755e+07,8.571766e+12,38.548023,711.719073,63.512910,18.257946,5.0,0.128475,56.462638,70.578297
std,1.643108e+07,7.658917e+11,47.752184,1215.769371,46.502309,9.286335,0.0,0.088083,41.316370,51.645462
min,2.001809e+07,8.690752e+07,4.000000,9.000000,4.950000,0.000000,5.0,0.010000,4.605600,5.757000
25%,6.770547e+07,8.683130e+12,12.000000,75.250000,27.340000,13.081451,5.0,0.010000,23.628780,29.535975
50%,6.867170e+07,8.690638e+12,18.000000,267.500000,62.285000,16.000000,5.0,0.200000,54.852107,68.565134
75%,6.965145e+07,8.690638e+12,40.000000,776.062500,78.460000,21.600000,5.0,0.200000,78.250935,97.813669
max,7.002025e+07,8.720609e+12,288.000000,8000.000000,320.860000,50.000000,5.0,0.200000,250.486418,313.108022